body {
    background-color: black;
    font-family: 'Staatliches', cursive;
}

#header {
    display: inline;
    font-family: 'Staatliches', cursive;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#logo {
    display: inline;
    padding: 10px auto 10px auto;
    margin: 0px auto 30px auto;
    max-width: 80px;
    max-height: 100px;
}

#title {
    display: inline;
    padding: 10px auto 10px auto;
    margin: 0px auto 30px auto;
    max-width: 110px;
    max-height: 100px;
}

a:link {
    text-decoration: none;
    color: red;
    margin-right: 70px;
    transition: .5s;
}

a.square_btn:hover {
    transition: .5s;
    text-decoration-color: white;
    color: white;
}

a:visited{ color: red; }

#nav {
    float: right;
}

#login-img {
    border: solid 3px white;
    border-radius: 50%;
    margin-top: 10px;
    padding: 6px 6px 6px 6px;
    width: 25px;
    transition: .5s;
}

#login-img:hover {
    transition: .5s;
    background-color: red;
    border-color: red;
}

.bgi {
    margin-top: 100px;
    block-size: 600px;
    display: block;
    background-image: url("maxresdefault.jpg");
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}

.main-button {
    position: relative;
    font-size: 20px;
    border: solid 3px red;
    border-radius: 20px;
    padding: 2px 20px 2px 20px;
    transition: 0.5s;
}

.main-button:hover {
    background-color: red;
    transition: .5s;
}